ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    background: rgb(255, 255, 255);
    padding: 1em;
    margin-right: 10px;
    width: 20%;
    height: 200px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
      -1rem -1rem 2rem rgba(255, 255, 255, 0.5);

    p {
      margin: 0;
    }

    p.name {
      font-weight: bold;
      font-style: 1.2rem;
    }

    p.country {
      text-transform: uppercase;
      font-style: 0.9rem;
      flex-grow: 1;
    }
  }
}
